<!DOCTYPE html>

<title>Conner Davis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/BaseLayout.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif
    }
</style>
<html>
<body class="cd-backer-grey">
    <!--Page Container-->
    <div class="cd-content cd-margin-top" style="max-width:1400px">
        <!--The Grid-->
        <div class="cd-row-padding">
            <!--Right Column-->
            <div class="right-col">

                <div class="cd-white cd-text-grey cd-card-4">

                    <div class="cd-display-container">
                        <img src="~/Content/apple-books-computers-115655.jpg" style="width:100%" alt="Apple computers" />
                    </div>
                    <div class="cd-container">
                        <p class="cd-name-title">Conner Davis</p>
                        <p>Web Developer Hopeful</p>
                        <p>Atlanta, GA</p>
                        <p>conneralexdavis@gmail.com</p>
                        <hr />
                        <p class="cd-large"><a href="https://github.com/cdavi198"><b>Projects</b></a></p>
                        <hr />

                        <p class="cd-large cd-hover-text-grey"><b>Languages</b></p>
                        <p>C#</p>
                        <div class="cd-round-xlarge cd-teal" style="height: 24px;width:100%"></div>
                        <p>HTML</p>
                        <div class="cd-round-xlarge cd-teal" style="height: 24px;width:60%"></div>
                        <p>Javascript</p>
                        <div class="cd-round-xlarge cd-teal" style="height: 24px;width:30%"></div>
                        <br />
                    </div>
                </div>
            </div>
            <div class="left-col">
                <div class="cd-container cd-card container-bottom-margin cd-white">
                    <h2 class="cd-text-grey cd-padding-16">Work Experience</h2>
                    <div class="cd-container cd-text-grey">
                        <h5 class="cd-text-teal">CINC - Commissions Inc./Helpdesk Analyst</h5>
                        <h6 class="cd-text-teal">2017 - <span class="cd-tags cd-round cd-teal">Current</span></h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut arcu a arcu semper ultrices. Proin turpis turpis,
                            interdum ut laoreet in, blandit fringilla sapien. Sed maximus urna vitae odio hendrerit, ac viverra ante imperdiet.
                            Curabitur finibus arcu purus, in facilisis lorem cursus eu. Ut ut metus finibus, eleifend libero ut, efficitur neque.
                            Cras laoreet massa at suscipit semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </p>
                        <hr />
                    </div>

                    <div class="cd-container cd-text-gray">
                        <h5 class="cd-text-teal">The Lovett School/Helpdesk Analyst</h5>
                        <h6 class="cd-text-teal">2014 - 2017</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut arcu a arcu semper ultrices. Proin turpis turpis,
                            interdum ut laoreet in, blandit fringilla sapien. Sed maximus urna vitae odio hendrerit, ac viverra ante imperdiet.
                            Curabitur finibus arcu purus, in facilisis lorem cursus eu. Ut ut metus finibus, eleifend libero ut, efficitur neque.
                            Cras laoreet massa at suscipit semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="cd-container cd-card cd-white cd-text-grey cd-padding-16">
                    <h2 class="cd-text-gray cd-padding-16">Education</h2>
                    <div class="cd-container">
                        <h5 class="cd-text-teal">Kennesaw State University/Bachelor of Business Information Systems</h5>
                        <h6 class="cd-text-blue-gray">2011 - 2015</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut arcu a arcu semper ultrices. Proin turpis turpis,
                            interdum ut laoreet in, blandit fringilla sapien. Sed maximus urna vitae odio hendrerit, ac viverra ante imperdiet.
                            Curabitur finibus arcu purus, in facilisis lorem cursus eu. Ut ut metus finibus, eleifend libero ut, efficitur neque.
                            Cras laoreet massa at suscipit semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </p><br />
                        <hr />
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>