body {
    margin:0;
    padding: 0;
    background: white;
}

.got-container {
    column-width: auto;
    background-color: white;

}

.got-title {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-size: 3.5em;
}

h1 {
    font-size: 3.5em;
}

.got-character-font {
    font-family: 'Lato', sans-serif;
}

.got-low-padding {
    padding-bottom: 15px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 1em;
    background-color: white;
    
}

.grid-number {
    background-color: white;
    display: grid;
    justify-content: center;
    padding: 8px;
    font-size: 14px;
    color: black;
    line-height: 1;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
}

.grid-number:hover {
        border: 1px solid #26ad33;
    }

.clip-circle {
    clip-path: circle(50px at center);
}

.got-navbar-container {
    position: relative;
    width: 100%;
    left: 0;
    text-align: left;
}


.got-navbar ul {
    list-style: none;
    background-color: white;
    text-align: left;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.got-navbar li {
    font-family: 'Lato', sans-serif;
    
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.got-navbar a {
    text-decoration: none;
    color: black;
    
    transition: .2s background-color;
}

.got-navbar a:hover {
        background-color: #23e036;
        border-radius: 5px;
         
        border-bottom:thin black;
    }

.got-navbar a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.got-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    
    display: inline-block;
}

@media screen and (min-width: 600px) {
    .got-navbar li{
        width: 110px;
        border-bottom: none;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
    }

    .got-navbar li {
       float: left;
       text-align: left;
       margin:auto;
    }

    .got-navbar ul{
        overflow: auto;
        width: 600px;
        margin: 0 auto;
        
    }

    .got-navbar {
        background-color: white;
        display: inline-block;
    }
}

.scoring-list {
    font-size: 12px;
}

.got-para {
    text-indent: 15px;
    font-size: 14px;
}

.got-content {
    margin-left: auto;
    margin-right: auto;
}

.got-content {
    max-width: 1200px;
}
