body {
    margin:0;
    padding: 0;
    background: white;
}

.got-container {
    column-width: auto;
    background-color: white;

}

.got-title {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    color: white;
    background-color: black;
    line-height: 80px;
}

h1 {
    font-size: 3em;
}

.got-character-font {
    font-family: 'Lato', sans-serif;
}

.got-low-padding {
    padding-bottom: 15px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    margin: .3em;
    background-color: white;
    align-content: center;
}

.grid-number {
    background-color: white;
    display: grid;
    justify-content: center;
    padding: 15px 30px 15px 30px;
    font-size: 14px;
    color: black;
    line-height: 1;
    border-radius: 7px;
    text-align: center;
    border: 1px solid white;
    width: 8vw;
    height: 16.5vh;
    
}

img {
    display: inline-block;
}

.grid-number:hover {
        border: 1px solid #26ad33;
    }

.clip-circle {
    clip-path: circle(50px at center);
}

.got-navbar-container {
    position: relative;
    width: 100%;
    left: 0;
    text-align: left;
}


.got-navbar ul {
    list-style: none;
    background-color: white;
    text-align: left;
    padding: 5px;
    margin: 0;
    display: inline-block;
}

.got-navbar li {
    font-family: 'Lato', sans-serif;
    padding: 5px 5px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.got-navbar a {
    text-decoration: none;
    color: black;
    padding: 10px 5px;
    transition: .2s background-color;
}

.got-navbar a:hover {
        /*background-color: grey;
        border-radius: 5px;
        opacity: .5; */
        border-bottom:thin black;
    }

.got-navbar a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.got-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    
    display: inline-block;
}

@media screen and (min-width: 600px) {
    .got-navbar li{
        width: 110px;
        border-bottom: none;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
    }

    .got-navbar li {
       float: left;
       text-align: left;
       margin:auto;
       padding: 5px 5px;
    }

    .got-navbar ul{
        overflow: auto;
        width: 600px;
        margin: 0 auto;
        
    }

    .got-navbar {
        background-color: white;
        display: inline-block;
    }
}

.scoring-list {
    font-size: 12px;
}

.got-para {
    text-indent: 15px;
    font-size: 14px;
}

.got-content {
    margin-left: auto;
    margin-right: auto;
}

.got-content {
    max-width: 1200px;
}

.banner-left {
    float: left;
    
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    }

.got-round-xlarge {
    border-radius: 16px
    
}

.got-text-black {
    color: black !important;
}

.got-bar-color {
    
    background-color: #ba1d1d;
   
}

.got-bar-back {
    background-color: grey;
    width: 80%;
    color: black;
}

.got-large {
    font-size: 18px !important
}

.got-small {
    font-size: 12px !important
}

.got-container, .w3-panel {
    padding: 0.01em 16px
}

.got-container:after, .got-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .grid-padding:after, .grid-padding:before,
.w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both
}

.got-center {
    text-align: center
}

.got-backer-grey {
    color: lightgray !important;
    background-color: #e5e5e5 !important;
}

.got-banner {
    border: 1px solid black;
    width: 1050px;
    height: 256px;
    margin-top: 20px;
}
