
<!DOCTYPE html>

<title>Conner Davis</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/Content/GoTStyle.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cinzel'>

<html>
<head>
    <meta charset="utf-8" />
    <title>GoT Fantasy League</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Lato|Montserrat" rel="stylesheet">
</head>
<body>
    <div class="got-container got-character-font got-low-padding">
        <h1 class="got-title">Game of Thrones Fantasy League</h1>
        <hr />
        <div class="got-navbar got-navbar-container">
            <ul class="got-list">
                <li class="characters"><a href="/GoT/GoTHome">Characters</a></li>
                <li class="rules"><a href="/GoT/GoTRules">Rules</a></li>
                <li class="points"><a href="#">Points</a></li>
                <li class="scoring"><a href="/GoT/GoTScoring">Scoring</a></li>
            </ul>
        </div>
        <div>

        </div>
    </div>
</body>
</html>